src/com/company/task1/library.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="library" type="libraryType"/>
  <xs:complexType name="libraryType">
    <xs:sequence>
      <xs:element type="bookType" name="book" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="bookType">
    <xs:sequence>
      <xs:element name="name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Romeo and Juliet"/>
            <xs:enumeration value="Eugene Onegin"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="author">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="William Shakespeare"/>
            <xs:enumeration value="Alexander Pushkin"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="description">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="
            the famous romantic tragedy of sexually charged adolescence, love, and death
        "/>
            <xs:enumeration value="
            is a novel in verse
        "/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
  </xs:complexType>
</xs:schema>